<ion-view title="Welcome" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="welcome-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The app used to search the doctor and hospital near by you and we can book you doctor required time and date. We can review / see the doctor and hospital reviews.</p> 
        
      <h6>Test Content</h6>
      <p style="color:#000000;">In this article we explain how to translate the web page into different language
        using google translator. We create a custom country list with flag and call the
        google translator code using javascript custom code. The benifit of this custom
        list is than we can hide the google translator widget and use all the language to
        translate the web page.</p>
    </div>
    <button id="welcome-button1" class="button button-positive  button-block" ng-click="changeLanguage()" language="Arabic">Arabic </button>
    <button id="welcome-button2" class="button button-positive  button-block" ng-click="redirect('login')">Login</button>
    <button id="welcome-button3" class="button button-positive  button-block" ng-click="redirect('register')">Register</button>
  </ion-content>
</ion-view>